$TTL    604800
@       IN      SOA     stuff.stuff.lan. (
        7       ; Serial
        604800  ; Refresh
        86400   ; Retry
        2419200 ; Expire
        604800  ; Negative Cache TTL
)

; name servers
@       IN      NS      stuff.stuff.lan.
@       IN      NS      otherstuff.stuff.lan.

1       IN      PTR     otherstuff.stuff.lan.
113     IN      PTR     otherstuff.stuff.lan.
115     IN      PTR     otherstuff.stuff.lan.
116     IN      PTR     otherstuff.stuff.lan.
117     IN      PTR     otherstuff.stuff.lan.
