zone "{{ domain }}" {
        type slave;
        file "slave/{{ domain }}";
        masters {
                {% for host in groups["dns"] %}
                {% if hostvars[host].dns_server_type == "master" %}
                {{ hostvars[host].ansible_default_ipv4.address }};
                {% endif %}
                {% endfor %}
        };
};

{% for ip_sub in dns_ip_subnets %}

zone "{{ ".".join(ip_sub.split(".")[::-1]) }}.in-addr.arpa" {
        type slave;
        file "slave/db.{{ ip_sub }}";
        masters {
                {% for host in groups["dns"] %}
                {% if hostvars[host].dns_server_type == "master" %}
                {{ hostvars[host].ansible_default_ipv4.address }};
                {% endif %}
                {% endfor %}
        };
};

{% endfor %}

zone "rpz" {
        type slave;
        file "slave/db.rpz";
        masters {
                {% for host in groups["dns"] %}
                {% if hostvars[host].dns_server_type == "master" %}
                {{ hostvars[host].ansible_default_ipv4.address }};
                {% endif %}
                {% endfor %}
        };
};
