zone "ortsoc.oregonstate.edu" {
        type master;
        file "/etc/bind/zones/ortsoc.oregonstate.edu";
};

zone "10.0.10.in-addr.arpa" {
        type master;
        file "/etc/bind/zones/db.10.0.10";
};

zone "rpz" {
        type master;
        file "/etc/bind/zones/db.rpz";
};
