zone "{{ domain }}" {
        type slave;
        file "slave/{{ domain }}";
        masters { {{ primary_dns_server }}; };
};

{% for ip_sub in dns_ip_subnets %}

zone "{{ ".".join(ip_sub.split(".")[::-1]) }}.in-addr.arpa" {
        type master;
        file "slave/db.{{ ip_sub }}";
        masters { {{ primary_dns_server }}; };
};

{% endfor %}

zone "rpz" {
        type master;
        file "slave/db.rpz";
        masters { {{ primary_dns_server }}; };
};
