zone "{{ domain }}" {
        type master;
        file "/etc/bind/db.{{ domain }}";
};

{% for ip_sub in dns_ip_subnets %}

zone "{{ ".".join(ip_sub.split(".")[::-1]) }}.in-addr.arpa" {
        type master;
        file "/etc/bind/db.{{ ip_sub }}";
};

{% endfor %}

zone "rpz" {
        type master;
        file "/etc/bind/db.rpz";
};
