$TTL 60
@       IN      SOA     localhost. root.localhost.  (
        {{ now(utc=True, fmt="%s") }} ; serial
        1h                     ; refresh
        30m                    ; retry
        1w                     ; expiry
        30m)                   ; minimum


; https://serverfault.com/a/842370

@               IN      NS      localhost.

localhost       IN      A       127.0.0.1

{% for r in rpz_records %}
{{ r.name }}      {{ r.type }}      {{ r.value }}
{% endfor %}
